.map{height: 500px;}

.customPopup p{
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 18px 0 8px 0 !important;
}

.customPopup img{
    width: 100%;
}

@media (max-width: 820px) {
    .map{height: 400px;}
}

@media (max-width: 768px) {
    .map{height: 300px;}
}